.resume-container {
  /* border: 1px solid; */
  margin: 0 10%;
  margin-top: 5%;
}
.resume-container > .row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.resume-container > .row > .col-4 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.resume-container .col-4,
.col-8 {
  /* border: 1px solid red; */
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  padding: 10px;
  margin: 10px 0px;
  cursor: default;
}

.active,
ul li:hover {
  background-color: #1f2235;
  border-radius: 20px;
  color: var(--white);
  transition: 0.6s ease;
}

ul li i {
  padding: 0px 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 8%;
}

.main-heading-container {
  padding: 10px 0px;
}

.main-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bullet {
  position: absolute;
  left: -5%;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--dark-orange);
}

.title {
  color: var(--dark-orange);
}

.date {
  background-color: var(--dark-orange);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.main-subheading {
  margin-right: 15%;
}

.subtitle {
  color: gray;
  font-size: 12px;
}
