.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-color: #24263b;
  padding-top: 5%;
}

.wave {
  overflow: hidden;
  line-height: 0;
  transform: rotate(0deg);
  margin-top: -2px;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 180px;
}

.wave .shape-fill {
  fill: #24263b;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave svg {
    width: calc(133% + 1.3px);
    height: 143px;
  }
}

.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
  margin-bottom: 5%;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}
.primary-name-text {
  font-size: 50px;
  color: var(--white);
}

.primary-role-text h1 {
  font-size: 30px;
  color: var(--white);
}

.profile-details-name .primary-name-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlighted-text {
  color: var(--dark-orange);
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.ball {
  color: var(--dark-orange);
  animation: spring 2s;
  animation-timing-function: ease;
}

@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.7);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.ball:hover {
  animation: move-text 0.75s forwards
}

.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 1px 0px 0px var(--white); */
  /* border-radius: 50%; */
  height: 580px;
  width: 500px;
  margin: 0 0 0 100px;
}
.profile-picture-background {
  height: 98%;
  width: 98%;
  background-image: url("https://doodleipsum.com/700/hand-drawn?i=545c8a54e754047dc45e9eae400bdf87");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: var(--white);
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon:hover {
  transform: scale(1.2);
  transition: 0.5s ease-out;
}

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0 0 80px;
  }
  .primary-name-text {
    font-size: 30px;
  }
  .primary-role-text {
    font-size: 16px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 5% 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-options .profile-details-role {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    width: 275px;
    height: 275px;
    margin-top: -90px;
  }
  .profile-details {
    width: 90%;
  }
}
